* {
    box-sizing: border-box;
}
#calculator{
    border: 2px solid black;
    margin: 0 auto;
    width: 300px;
    height: 450px;
    position: relative;
}
#insideCalculator{
    border: 1px solid green;
    width: 100%;
    height: 100%;
}
#display{
    width: 80%;
    height: 40px;
    margin: 10px auto;
    display: block;
}
#numberButtons{
    display: grid;
    /* border: 1px solid darkred; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 180px;
    height: 75%;
    margin: 45px 20px 15px;
}
#operatorButtons{
    display: inline-grid;
    position: absolute;
    right: 10px;
    bottom: 17px;
 }
 .opButton{
    width: 59px;
    height: 66px;
    padding: 1px 6px;
 }